pandas
numpy
tqdm
openpyxl
pyyaml
tiktoken
pymupdf
docarray
jupyterlab
langchain==1.0.2
langchain-core==1.0.1
langchain-community==0.4.1
langchain-openai==1.0.1
langchain-ollama==1.0.0
langchain-huggingface==1.0.0
langchain-google-genai==3.0.0
langchain-deepseek==1.0.0
langgraph==1.0.1
langchain-classic
sentence-transformers
langserve[all]
pydub
wikipedia
faiss-cpu
opencv-python
pypdf
lark
rank_bm25
httpx==0.27.2
sentencepiece
pillow
uvicorn
wikipedia-api
fugashi[unidic]
jupyterlabcodetoc
python-docx
mlflow
gradio
fpdf